body {
	background-image: url('../bg/webg.png');
	background-attachment: fixed;
}

#textcontainer {
  position:absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

#header {
  position:relative;
  width:100%;
  height:75px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 50px;
}

#para {
  position:relative;
  width:100%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 30px;
}

#footnote {
  position:relative;
  width:100%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 20px;
}

#mage {
  position:relative;
  width:100%;
}
